.landing-main {
    background-color:#eae0d07d;
}



.section-header{
    height: 95vh;
    background-image: url("https://images.pexels.com/photos/291762/pexels-photo-291762.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.section-statement {
    width: 540px;
    height: 538px;
    padding: 20px;
    background-color: #eae0d07d;
    color: white;
}


.section-statement > h1{
    color: #F19732;
    text-align: center;
    letter-spacing: 2px;
    font-size: 42pt;
}
.section-statement > h2{
    color: #000;
    font-size: 22pt;
    text-align: center;
}
.section-statement > p{
    color: #000;
    font-size: 14pt;
    text-align: left;
}
.section-about {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1567401893414-76b7b1e5a7a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}





/*--------Footer--------- */


.page-footer {
    display: flex;
    border-top: 2px dashed #F19732;
    justify-content: space-evenly;
    margin: 0px 20px 0px 20px;

  }

  .page-footer > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0px 30px;
  }
  
  .page-footer > ul > li {
    margin: 10px 30px;
  }

  .ig-icon {
    color: #C13584;
  }

  .ig-icon:hover {
      color: #772b56;
  }
  
  .page-footer > h3 {
    display: flex;
    flex-direction: center;
    justify-content: center;
    
  }