
/* header */

/* #header {

  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #eae0d07d;
  justify-content: space-between;
  align-items: baseline;
} */

.title-container {
    padding-top: 10px;
    margin-left: 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
 
  }
  .title {
    letter-spacing: 2px;
    font-size: 18pt;
    color: #F19732;
    transition: 2000ms;
    outline: none;
    font-weight: lighter;
  }

  .title-link:hover {
    text-decoration: none;
  }
  
  .title:hover {
    letter-spacing: 3px;
    text-decoration: none !important;
  }
  
  

.form-link{
    color: #000;
    font-size: 14pt;
    margin-bottom:10px;
    margin-right: 30px;
    text-decoration: none !important;
    transition: 200ms;
    transition-duration: ease;
    font-weight: lighter;

}

.form-link:hover {
  color: gray;
}
