
/* products */
.products  {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 30%; 
    overflow-y: scroll;
  
  
  }
  .product-display{
    display: flex;
    flex-flow: column wrap;
  }
  

.product:hover {
  box-shadow: 0 14px 20px rgba(250, 132, 5, 0.1);  
}
.product-name {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;

}

.product-store{
  color: grey;
  padding: 10px;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  color: grey;

}
.product img {
  width:  350px;
  height: 300px;
  object-fit: cover;
  padding: 10px;
  margin-top: 40px;
}

.searchTerm {
  width: 70%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;

}






.search-icon{
  position:relative;
  left: 70%;
  bottom: 50px;

  /* readujst in jsfiddle */
}
