
/* products */
.products  {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    top: 10%;


  
  }
  .product{
    padding: 20px;


  }
  .product-display{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
  }
  

.product:hover {
  box-shadow: 0 14px 20px rgba(250, 132, 5, 0.1);  
}
.product-name {
  font-size: 15px;
  font-weight: lighter;
  padding: 0 10px;

}

.product-store{
  color: grey;
  padding: 0 10px;
}

.product-price {
  font-size: 1.5rem;
  font-weight: lighter;
  padding:  10px;
  color: grey;

}
.product img {
  width:  350px;
  height: 300px;
  object-fit: cover;
  padding: 10px;
}

.average-fit{

  color: grey;
  font-size: 15px;
  font-weight: lighter;
  padding: 0 10px;


}

.searchTerm {
  width: 70%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;

}

.product-fitter{
  color: black;
  font-size: 15px;
  font-weight: lighter;
  position: relative;
  float: right;
  border-left: 1px solid rgb(126, 122, 122);
  padding-left: 10px;
  height: 70px;

  


}









@media screen and (width: 300px) {
 .products {
    padding-left: 20px;
  }

}